.Alert {
  border: 1px solid black;
  border-radius: 2px;
  width: 1000px;
  margin-top: 100px;
}

.alert-container {
  display: flex;
  flex-direction: column;
}

.alert-teams-container {
  display: flex;
  justify-content: space-around;
}
